.vscode/
**.egg-info/
**/__pycache__/
**/*.secret
saves
.pytest_cache
**/*.json
**/*.csv
plots/
c_generated_code/
/build
**/*.png

# pixi environments
.pixi/*
!.pixi/config.toml
ros_ws/
acados/
wandb/